Binaries
Content/Mannequin
Content/Heavy_Lancer_Set
Content/Weapon_Pack
Content/Haena
Content/TERA
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace